

<!-- Use extends header.html for home page -->

{% extends "header_footer.html" %}

{% block content %}
  
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <h1 id="artist-display" class="display-4"></h1>
            <p>This is a program to generate common attributes of your favorite artist.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="boxplot"></div>
        </div>
        <div class="col-lg-6">
            <div class="col-sm-6">
                <div id="keyplot"></div>
            </div>
            <div class="col-sm-6">
                <div id="tempoplot"></div>
            </div>
            <div class="col-sm-6">
                <div id="modeplot"></div>
            </div>
            <div class="col-sm-6">
                <div id="durationplot"></div>
            </div>
        </div>   
    </div>

{% endblock %}